.advantage {
    padding: 70px 0;
    background-color: #f6f6f6;
    &__header {
        margin-top: 38px;
        font-size: 18px;
        color: #0d0d0d;
        text-align: center;
        font-weight: 700;          
    }
    &__text {
        margin-top: 27px;
        font-size: 14px;
        color: #0d0d0d;
        text-align: center;
        font-weight: 300;
        a {
            color: #ff0000;
            text-decoration: underline;
        }
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        margin-top: 64px;        
    }
    &__icon {
        width: 280px;
        img {
            display: block;
            margin: 0 auto;
        }
    }
}